{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}



<h1>Cekirdek</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container">
	<form action="/cekirdek" method="POST">

		<label for="miktar">Miktar:</label>
		<input type="text" id="miktar" name="miktar" placeholder="Miktar(Gram)" required="required" maxlength="11">

		<label for="tur">Tur:</label>
		<input type="text" id="tur" name="tur" placeholder="Tur" required="required" >

		<label for="koken">Koken:</label>
		<input type="text" id="koken" name="koken" placeholder="Koken" required="required">


		<input type="submit" class="btn btn-success" value="Submit">
		<input type="button" class="btn btn-danger" style="visibility: hidden" id="cancel_button" onclick="cancel()"
		       value="Cancel">
		<input type="hidden" id="isInsert" name="isInsert" value="0">

	</form>

</div>

{% endblock %}