{% extends "base.html" %}
{% block title %} Satın Alım {% endblock %}
{% block content %}

<div class="container">
	<form action="/nakliyeciHome" method="POST">
    <br>
		<label for="uretici">Üretici:</label>
        <select id="uretici" name="uretici">
            {% for uretici in ureticiList %}
			<option value="{{ uretici.ad_soyad }}">{{ uretici.ad_soyad }}</option>
			{% endfor %}
        </select>

		<label for="miktar">Ürün Miktarı(KG):</label>
		<input type="number" id="miktar" name="miktar" placeholder="Ürün Miktarı" required="required" >

		<label for="odeme">Ödeme Miktarı(TL):</label>
		<input type="number" id="odeme" name="odeme" placeholder="Ödenen Miktar" required="required" >

        <label for="aciklama">Açıklama:</label>
		<input type="text" id="aciklama" name="aciklama" placeholder="Açıklama" required="required" >

        <label for="arac">Araç:</label>
        <select id="arac" name="arac">
            {% for arac in aracList %}
			<option value="{{ arac.plaka }}">{{ arac.plaka }}</option>
			{% endfor %}
        </select>

		<input type="submit" class="btn btn-success" value="Submit">
		<input type="button" class="btn btn-danger" style="visibility: hidden" id="cancel_button" onclick="cancel()"
		       value="Cancel">
		<input type="hidden" id="isInsert" name="isInsert" value="0">

	</form>

</div>
{% endblock %}